/*=============   Fonts Definition   ===============*/
@font-face {
  font-family:Avini;
  src:url('../fonts/aviny.ttf') format('truetype');
}
@font-face {
  font-family:Iransans;
  src: url('../fonts/Iranian\ Sans.ttf') format('truetype');
}
@font-face {
  font-family:Nazanin;
  src: url('../fonts/Far_Nazanin.ttf') format('truetype');
}
/*=================    Variable   ===============*/
$bg-nav:rgba(0, 0, 0, 0.4);
/*================    Media( Query   ==============*/
@media (max-width:576px){
  .bg-nav-menu {
    background-color:rgba(0, 0, 0, 0.2);
  }
  #top-menu {
    margin-top:-0.4rem;
    height: fit-content;
    padding:0px 30px 30px !important;
    .nav-link {
      height:45px;
      &::after {        
       width: 20% !important;         
       bottom: -0.5em !important;     
      }  
    }
  }
  .navbar-toggler, .navbar-brand {
    margin-top:-0.8rem;
  }
  .glass {
    h1 {
      font-size:2.5rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

@media (min-width:577px){
  .bg-nav-menu {
    background-color:rgba(0, 0, 0, 0);
    height:4rem;
  }
  .dropdown:hover>.dropdown-menu {
    display:block;
  }
  .glass {
    h1 {
      font-size:3.3rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@media (max-width:767px){
  .card-columns {
    column-count:1;
  }
}

@media (min-width:768px) and (max-width:991px){
  .card-columns {
    column-count:2;
  }
}

@media (min-width:992px) and (max-width:1199px){
  .card-columns {
    column-count:3;
  }
}

@media (min-width:1200px){
  .card-columns {
    column-count:4;
  }
}
/*=============   Body Reset   =============*/
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  overflow-x: hidden;
  direction: rtl;
  text-align: right;
}
/*=============== Header =============*/
  /*=============  Navbar ============*/
  .bgnav {
    background-color:rgba(0, 0, 0, 0.2);
  }
  .bgnav.scrolled {
    transition: 0.5s ease;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid orange;
  }
  .bg-nav-menu.scrolled {
    transition: 0.5s ease;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(255, 166, 0);
  }
  .navbar {
    height: 4rem;
    line-height: 4rem;
    font-family: Avini;
    font-size: 1.5rem;
    .navbar-brand{
      color:#fff;
      img {
        width:4rem;
      }
    } 
    #top-menu .nav-item {
      padding-left:20px;
      position: relative;
      .nav-link {
        color:#fff;
        text-shadow:1px 1px 3px orange;
        position: relative;
        /* Underline  */
        &::after {
          content: ' ';       
          display: block;     
          width: 100%;        
          height: .05em;       
          position: absolute; 
          bottom: 0.7em;      
          left: 0;            
          right: 0px;           
          background: #fff;   
          transform: scaleX(0);
          transition: transform .2s ease;
        }
        &:hover::after {
          transform: scaleX(1);
        }
        /*  End Underline */
      }
      .gallery {
        &::after {
          transform: scaleX(1);
        }  
      }
      /* Dropdown > sm  */
      .dropdown-menu {
        background-color:$bg-nav;
        min-width:fit-content;
        min-height: fit-content;
        font-size: 1.5rem;
        text-align: center;
        position: absolute;
        top:4.3rem;
        left:-50%;
        li {
          padding-left:0;
          a {
            color:#fff;
            text-shadow:1px 1px 3px orange;
            line-height:1.5rem;
            &:hover {
              background-color: $bg-nav;
            }
          }
        }
      }
      /* End Dropdown > sm  */
      /* Collapse < sm */
      #mobile {
        padding-right: 30px;
        padding-top: 20px;
        .nav-item {
          line-height: 2rem;
          .nav-link {
            font-size: 1.3rem;
            height:2rem;
            &::after {                
              bottom: -0.6em !important;     
             }  
          }
        }
      }
      /* End Collapse < sm  */
    }
  }
  .navbar-toggler {
    border:1px solid white;
  }
  /*===========  End Navbar  ===========*/
/*=============  End Header  ============*/

/*==============  Main  ================*/
/*============  Top ================*/
.top {
  height:100vh;
  padding:50px;
  background-image: url('../images/camera/camera6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  .glass {
    height:70vh;
    padding:25px 15px;
    background:#ffffff3b;
    /*backdrop-filter: 2rem;*/
    border-radius: 30px;
    h1 {
      font-family: Avini;
      font-weight:590;
      color: #020202;
      text-shadow:1px 1px 5px #eabf9f;
    }
    p {
      font-family: Iransans;
      font-weight:bold;
      color: #0a0a0a;
      text-shadow:1px 1px 5px #eabf9f;
      line-height: 3rem;
    }
  }
}
/*==============  End Top ===============*/
.myborder {
  width: 100%;
  border-top: 5px solid gold; 
}
/*=========== Gallery Tittle ============*/
$tittle-bg:#000000;
$b-radius:none;
.bg-cate{
  background:linear-gradient(-45deg,rgb(10, 10, 10),rgb(54, 52, 43)) ;
  h1, h2 {
    font-family: Avini;
  }
  h1 {
    font-size: 3.7rem;
    letter-spacing: 0.15rem;
    text-shadow:2px 2px 5px #b49379;
  }
  h2 {
    color:#68521a;
    font-size: 2.5rem;
    text-shadow:2px 2px 5px #928467;
  }
}
  .card.cate {
    height:50vh;
    border:none;
    position: relative;
    transition: 0.5s ease-in-out;
   background: rgba(0, 0, 0, 0);
    &:hover {
      transform:translateY(5px);
    }
    &:before {
      content:"";
      position:absolute;
      width:90%;
      height:100%;
      top:0;
      left:5%;
      display: block;
      border-radius: $b-radius;
      background-color: white;
      z-index:2;
      transition: 0.5s all;
      opacity: 0;
    }
    &:hover:before {
      opacity:0.8;
    }
    img {
      width:90%;
      height:100%;
      object-fit: cover;
      position: absolute;
      top:0;
      left:5%;
      box-shadow: 0px 0px 10px 2px #c4b8a0a4;
      border-radius: $b-radius;
    }
    .card-body {
      position:relative;
      color:black;
      z-index: 3;
      transform: translateY(40px);
      transition: 1s all;
      opacity:0;
      padding:30px 70px;
      p, a {
        font-family: Iransans;
      }
      .btn {
        background: #b08f30;
        border:none !important;
        border-radius: 10px;
        color: white;
        box-shadow:-1px 1px 3px rgb(65, 55, 40);
      }
    }
  } 
  .cate .card-body {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
  }
  .cate.card:hover .card-body {
    opacity: 1;
    transform: translateY(0px);
  }

/*========= End Gallery Tittle  ============*/
/*============  Album  ================*/
/*============ Header Album ==============*/
h1.album {
  background-image: linear-gradient(to right,#998041,#e2ca9c,#bb993a);
  color: #302711;
  text-shadow:2px 2px 7px #5a4a22;
  border-top:1px solid black;
  border-bottom: 1px solid black;
  font-family: Avini;
  font-size: 2.2rem;
  position: sticky;
  position:-webkit-sticky;
  top:4rem;
  z-index: 1;
}
/*=============  End Header Album  ===========*/
/*============= Album Background  =============*/
.kids {
  background-image: url('../images/background/baby12.JPG');
  background-attachment: fixed;
}
.pregnant {
  background-image: url('../images/background/preg2.JPG');
  background-attachment: fixed;
}
.promotion {
  background-image: url('../images/background/wed4.JPG');
  background-attachment: fixed;
}
.nature {
  background-image: url('../images/background/nature16.JPG');
  background-size:cover;
  background-attachment: fixed;
}
/*============= End Album Background  =============*/
/*============= Card Footer ===================*/
.card-text {
  button {
    border:none;
    background: none;
    padding:0 20px;
  }
  .bookmark {
    color:rgb(201, 201, 201);
  }
  .heart {
    color:rgb(201, 201, 201);
  }
  a {
    color:rgb(201, 201, 201);
    &:hover {
      color:rgb(109, 142, 248);
    }
  }
  .like {
    color:red;
  }
}
/*=============== End Card Footer ===============*/
/*=============== Modal picture=================*/
.modal-dialog {
  max-width:fit-content;
}
.modal-content {
  top:0;
  width:fit-content;
  margin:0 auto;
  background: rgb(252, 252, 252);
  img {
    object-fit: cover;
    object-position: top;
    max-height:90vh;
  }   
}
/*================  End Modal =================*/
/*=============== Modal Message ===============*/
.comment { 
  font-family: Iransans;
  font-size: 1rem;
  font-weight: 500px;
  text-align: center;
  form {
    background-image: linear-gradient(-45deg,#dabf86 ,#f6eddd,#e7d2a9);
  }
  p {
    width:80%;
    margin:20px auto;
    line-height: 2rem;
  }
  .form-group {
    width:70%;
    margin:auto;
  }
  label {
    padding:10px 20px 0px;
  }
  button:not(:first-child) {
    margin: 30px 20px 40px;
    background: black;
    color:#f1d7a1;
    border:2px solid #a88e53;
    border-radius: 10px;
    box-shadow:-1px 1px 3px rgb(65, 55, 40);
    &:hover, &:focus {
      color:#f5efe4 !important;
      background: #000 !important;
      border:2px solid #a88e53;
      border-radius: 10px;
    }
  }
}
/*============= End Modal Message =============*/
/*============ End Album  ==================*/

/*==============  End Main  ==============*/
/*=============== Footer  ==================*/
.footer {
  background: rgb(24, 22, 22);
  font-family:Iransans;
  font-size:0.9rem;
  border-top:4px solid gold;
  .social {
    display: flex;
    justify-content: space-evenly;
  } a {
    font-size: 1.5rem;
    &:hover {
      transition:transform 1s ease;
      transform: scale(1.2);
      color:#e2c583 !important;
    }
  }
}
/*==============  End Footer  ============*/
